/* ===========Css Common================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: var(--font-family);
}

:root {
    --font-family: poppins, sans-serif;
    --primary-color: #823929;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 1440px;
    margin: auto;
}

.row {
    display: flex;
}

/* ===========Css Common End================ */


/* nav bar */
nav {
    height: 5.8rem;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav_logo {
    margin: 1.5625rem 0 0 4.375rem;
}

.menu_items {
    margin-left: 186.5px;
}

.menu_items ul {
    display: flex;
}

.menu_items ul li {
    margin-left: 33.5px;
    margin-top: 30px;
}

.menu_items ul li a {
    color: #000;
}

.menu_items ul li a:hover {
    color: var(--primary-color);
}

.menu_items ul li .mark {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.hot_icons {
    margin-left: 165px;
    margin-top: 30px;
}

.ic {
    margin-left: 33px;
    font-size: 20px;
}

.hot_icons a:hover {
    color: var(--primary-color);
}
.sub_child{
    width: 150px;
    background: #fff;
    flex-wrap: wrap;
    height: 280px;
    visibility: hidden;
    position: absolute;
}
.sub_parent{
    position: relative;
}
.sub_parent:hover .sub_child{
    visibility: visible;
}

/* nav end */

.background {
    height: 634px;
    width: 1440px;
    background: #f0ddc8;
    display: block;
}

.left_side {
    width: 473px;
    height: 279px;
    margin: 208px 135px 147px 70px;
}

.left_side h6 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #353535;
}

.left_side h1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 60px;
    color: #353535;
    margin: 13px 0;
    width: 473px;
}

.left_side p {
    width: 468px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #353535;
    margin-bottom: 28px;
}

.btn {
    border-radius: 5px;
    width: 166px;
    height: 56px;
    background: var(--primary-color);
    border: none;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

.btn a {
    justify-content: center;
    display: flex;
    padding-top: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.btn:hover {
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}

.right_side {
    margin-top: 53px;
}

/* *banner end */

.left_items {
    margin: 74px 39.6px 123px 70px;
}

.image_1 img {
    width: 564px;
    height: 853px;
}

.texts h6 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 65px;
    color: #000;
    width: 417px;
    margin: 90px 0 21px 0;
}

.texts p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    color: #000;
    width: 527px;
    margin-bottom: 42px;
}

/* .middle_items h3{
    font-family: var(--font-family);
font-weight: 400;
font-size: 65px;
color: #ceb18f;
transform: rotate(90deg);
margin-top: 50px;
width: 1003.7px;
height: 84.57px;
letter-spacing: 21px;
} */

.middle_items {
    margin: 74px 57px 473px 0;
}

.right_items {
    margin: 74px 59px 123px 10px;
}

.right_items img {
    margin-bottom: 42px;
}

/* *photo end */

/* *product */
.heading_product {
    text-align: center;
}

.heading_product h6 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    color: #313131;
}

.heading_product p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #929292;
    margin-top: 16px;
}


.swiper {
    width: 1440px;
    height: 480px;
    margin-top: 0.3rem;
}

.swiper-slide {
    text-align: center;
    font-size: 1.125rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html,
body {
    position: relative;
    height: 100%;
}

.product {
    border-radius: 10px;
    width: 363px;
    height: 420px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    background: #f5f5f5;

}

.product_img {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.product_img a img {
    width: 197px;
}

.product_details h6 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    color: #353535;
    margin-top: 35px;
}

.product_details p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    color: #ff3939;
    margin-top: 10px;
}

.pd_btn {
    border-radius: 5px;
    width: 109px;
    height: 42px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    font-weight: 500;
    font-size: 15px;
    color: #353535;
    margin-left: 9px;
    outline: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 22px;
}

.pd_btn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* swipper button */
.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
}

.swiper-button-next,
.swiper-button-prev {
    background-color: #FFD814;
    border: 0.0625rem solid var(--border-color);
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 0.3125rem;
    color: #000;
    font-size: 0.9375rem;
}

.swiper-button-prev {
    left: initial;
    right: 2.5rem;
}

.swiper-button-next {
    right: 0.5rem;
}

.swiper-button-prev {
    left: 0.5rem;
}


/* big banner */

.big_banner {
    background-image: url(../img/big_banner.png);
    width: 1440px;
    height: 795px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.banner_details{
    text-align: center;
    width: 731px;
    height: 357px;
}

.big_banner h3 {
    font-family: var(--font-family);
    font-weight: 500;
    width: 731px;
    font-size: 60px;
    text-align: center;
    color: #fff;
    margin-bottom: 34px;
}

.big_banner p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fff;
    width: 691px;
    margin-bottom: 60px;
}
.shop_btn{
    border-radius: 5px;
width: 166px;
height: 56px;
border: none;
outline: none;
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
color: #3e3e3e;
cursor: pointer;
}
.shop_btn:hover{
    border: 1px solid #3e3e3e;
    color: #fff;
    background: transparent;
}

/* blog post */
.blog_parent_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 64px auto;
    width: 1300px;
}
.blog_container{
    border-radius: 10px;
width: 592px;
height: 650px;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
background: #fff;
margin-top: 10px;
margin-bottom: 52px;
}
.blog_img{
    padding-top: 25px;
}
.blog_post{
    text-align: center;
}
.blog_post h6{
    font-family: var(--font-family);
font-weight: 500;
font-size: 25px;
color: #353535;
margin-top: 31px;
}
.blog_post p{
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
text-align: center;
color: #9c9c9c;
width: 475px;
margin-top: 26px;
display: inline-block;
text-align: center;

}
/* footer */
footer{
    width: 100%;
height: 452px;
background-color: #eee;
}

.logo_area{
    padding-top: 41px;
    width: 872px;
    margin: auto;
}
.logo_area a{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.logo_area p{
    font-family: var(--font-family);
font-weight: 300;
font-size: 25px;
color: #5a5a5a;
width: 872px;
text-align: center;
}

.nav_area{
    margin: auto;
    width: 774px;
    height: 158px;
    margin-top: 40px;
}
.all_items{
    justify-content: space-between;
    display: flex;
}
.all_items h6{
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
color: #00100b;
}
.icons{
    font-size: 30px;
    margin-top: 10px;
}
.customer_care{
    text-align: center;
}